<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}Mon super blog{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="w-3/4 mx-auto">
        <nav class="flex gap-8 p-4 justify-center items-center bg-gray-700 text-white">
            <a href="home.php">
                <img src="https://picsum.photos/1000" alt="" srcset="" class="w-12 h-12 rounded-full">
            </a>
            <a href="home.php">Accueil</a>
            <a href="liste-articles.php">Liste des articles</a>
            <a href="contact.php">Contactez-moi</a>
        </nav>

        <h1 class="text-bold text-2xl my-4">
            {% block h1 %}{{ block('titre') }}{% endblock %}
        </h1>

        {% block body %}{% endblock %}
    </div>

    <footer class="flex justify-center items-center my-8">
        <p>&copy;&nbsp;Mon super blog - {{ 'now'|date('Y') }}</p>
    </footer>
</body>

</html>