<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morpion 2.0</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="flex justify-center items-center w-full bg-gray-900 text-white gap-8 p-8">
        <a href="index.php" class="hover:underline">Jeu en cours</a>
        <a href="new_game.php" class="hover:underline">Nouvelle partie</a>
        <a href="historique.php" class="hover:underline">Historique</a>
        <a href="logout.php" class="hover:underline">Effacer toutes les données</a>
    </nav>

    <div class="container mx-auto p-8">
        {% block body %}{% endblock body %}
    </div>
</body>

</html>